openapi: 3.2.0
info:
  title: Getaiscan App Agent API
  x-refined-note:
  - x-guidance differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Agent across 3 of this provider''s published API definitions: getaiscan-app-openapi-apex-5.9.0.json, getaiscan-app-openapi.json, getaiscan-app-agent.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getaiscan.app
tags:
- name: Agent
paths:
  /api/agent/index:
    get:
      operationId: index
      summary: Free capability catalog with prices and endpoints
      security: []
      responses:
        '200':
          description: Catalog of all capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  capabilities:
                    type: object
                required:
                - capabilities
      tags:
      - Agent
    servers:
    - url: https://api.getaiscan.app
  /api/agent/scan:
    post:
      summary: Scan website for AI visibility
      description: 'Scan any website for AI visibility. Returns 4 scores with 80+ checks and fix instructions. Pay-per-capability via x402 on Base: 15 endpoints from 0.06 to 1.55 USDC. Free catalog at /api/agent/index.'
      operationId: scanWebsite
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: Website URL to scan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: AI visibility scan results
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  overall:
                    type: object
                    properties:
                      score:
                        type: integer
                        minimum: 0
                        maximum: 100
                      grade:
                        type: string
                        enum:
                        - A
                        - B
                        - C
                        - D
                        - F
                  scores:
                    type: object
                    properties:
                      aeo:
                        type: integer
                      geo:
                        type: integer
                      agent:
                        type: integer
                      mcp:
                        type: integer
                  categories:
                    type: object
        '402':
          description: 'Payment required - x402 V2: PAYMENT-SIGNATURE signed payload or USDC tx hash'
      security:
      - x402: []
      tags:
      - Agent
    servers:
    - url: https://api.getaiscan.app
      description: AIScan API
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 V2 payment: signed payload or Base USDC tx hash'
x-refined-from:
- getaiscan-app-openapi-apex-5.9.0.json
- getaiscan-app-openapi.json
- getaiscan-app-agent.json
