openapi: 3.2.0
info:
  title: Getaiscan App Agent API
  x-refined-note:
  - x-guidance differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Agent across 3 of this provider''s published API definitions: getaiscan-app-agent.json, getaiscan-app-openapi.json, getaiscan-app-agent.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getaiscan.app
  description: AIScan API
tags:
- name: Agent
paths:
  /api/agent/scan:
    post:
      summary: Scan website for AI visibility
      description: 'Scan any website for AI visibility. Returns 4 scores with 80+ checks and fix instructions. Pay-per-capability via x402 on Base: 15 endpoints from 0.06 to 1.55 USDC. Free catalog at /api/agent/index.'
      operationId: scanWebsite
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: Website URL to scan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: AI visibility scan results
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  overall:
                    type: object
                    properties:
                      score:
                        type: integer
                        minimum: 0
                        maximum: 100
                      grade:
                        type: string
                        enum:
                        - A
                        - B
                        - C
                        - D
                        - F
                  scores:
                    type: object
                    properties:
                      aeo:
                        type: integer
                      geo:
                        type: integer
                      agent:
                        type: integer
                      mcp:
                        type: integer
                  categories:
                    type: object
        '402':
          description: 'Payment required - x402 V2: PAYMENT-SIGNATURE signed payload or USDC tx hash'
      security:
      - x402: []
      tags:
      - Agent
    servers:
    - url: https://api.getaiscan.app
      description: AIScan API
  /api/agent/index:
    get:
      operationId: index
      summary: Free capability catalog with prices and endpoints
      security: []
      responses:
        '200':
          description: Catalog of all capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  capabilities:
                    type: object
                required:
                - capabilities
      tags:
      - Agent
    servers:
    - url: https://api.getaiscan.app
components:
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: X-Payment
      description: 'x402 V2 payment protocol. 15 capabilities, 0.06-1.55 USDC on Base. Signed PAYMENT-SIGNATURE payload (CDP facilitator) or direct USDC transfer + tx hash. Catalog: /api/agent/index'
x-refined-from:
- getaiscan-app-agent.json
- getaiscan-app-openapi.json
- getaiscan-app-agent.json
x-ai-agent:
  name: AIScan AI Visibility Scanner
  description: Scan websites for AI visibility including MCP Readiness
  capabilities:
  - ai-visibility-scan
  - mcp-readiness-check
  - aeo-audit
  - geo-audit
  payment:
    protocol: x402
    amount: 0.06-1.55
    currency: USDC
    network: Base
    recipient: '0x0a28ace35b9687a9334cd503b3c7d4b23734a1c7'
